<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#fd6650">
	<meta name="msapplication-navbutton-color" content="#fd6650">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fd6650">
	<meta name="description" content="A Q&A and content network where answers are given in the form of videos. Get paid for watching and making short videos.">
	<meta name="keywords" content="Q&A, content network, answers, videos, get paid, watch videos, make videos, short videos, money, ads, social network">
	<meta name="author" content="Svanq Corp">
	<link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/assets/images/favicon.png">
	<link rel="image_src" href="<%= htmlWebpackPlugin.files.publicPath %>static/assets/images/site-image.png">
	<meta property=”og:image” content="<%= htmlWebpackPlugin.files.publicPath %>static/assets/images/site-image.png" />
	<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Svanq">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/images/logos/152.png">
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/images/logos/144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
    	for (var file of chunk.files) {
      		if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
	<title>Svanq - Make money by watching or making short videos</title>
</head>
<body class="mini-sidebar fix-header fix-sidebar">
    <!--<noscript>
	  Sorry, you must enable Javascript for this web app to work.
	</noscript>-->

	<div class="preloader" style="width: 100%;height: 100%;top: 0px;position: fixed;z-index: 99999;background: #fff;"> <svg class="circular" viewBox="25 25 50 50"> <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle> </svg>
	</div>
	<div id="app"></div>
</body>
</html>