.profile-pic{
	width: 40px;
	border-radius: 100%;
}

.card-main-pic img{

	width: auto;
	height: 200px;
}

.left-sidebar{
	padding-top: 49px;
}

.navbar.top-navbar {

	height: 50px !important;
	min-height: auto;
}


.slimScrollDiv{
	/*top: -21px;*/
	overflow: visible !important;
}
.page-titles{
	padding-bottom: 8px;
	padding-top: 8px;
	margin-bottom: 10px;
}

.feed-container-col{

	padding: 0px;
}

.f-w-400{
	font-weight: 400;
}

.f-w-500{
	font-weight: 500;
}

.m-l-2{
	margin-left: 2px;
}

.m-l-4{
	margin-left: 4px;
}

.light{
	color: #ccc
}

.cursor-hand{
	cursor: pointer;
}

.pr-t--2{
	position: relative;
	top: -2px;
}
.pr-t-2{
	position: relative;
	top: 2px;
}

.f-s-12{
	font-size: 12px;
}
.f-s-16{
	font-size: 16px;
}
.f-s-14{
	font-size: 14px;
}
.bg-999{
	background: #999;
}

.bg-999.ribbon-bookmark.ribbon-warning:before {
	border-color: #999;
	border-right-color: transparent;
}
.white-back{
	background-color: #fff;
}
.feed-video-wrap .container{
	padding: 0px;
}
.feed-video-wrap .video-container{
	padding: 0px;
	padding-bottom: 20px;
	/*margin-bottom: 15px;*/
}

.none{
	display: none;
}
.single-post-popup .profiletimeline hr {
	display: none;
}
.profiletimeline .ribbon-wrapper{
	padding-bottom: 0px;
}
.profiletimeline .sl-right {
	/*	word-break: break-all; */
}
.pr-t--3-l--3{
	position: relative;
	top: -3px;
	left: -3px;
}

.btn-add-feed{
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 1;
}
/*
** Altering Bootstrap Modal
*/
body { 
	padding-right: 0 !important 
}

.modal-absolute {
   position: absolute !important;
   overflow: auto;
   overflow-y: auto;
}

/*
** Bootstrap Modal ends
*/
.block {
	display: block !important;
}
.visible {
	visibility: visible !important;
}

/** Tags Input **/
.tags .tag, .autocomplete li:hover {
	background-color: #868e96 !important;
	color: #fff
}
.vue-tags-input {
	max-width: 100% !important;
}
.vue-tags-input .input {
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.15) !important;
}
/** Tags Input Ends **/ 

.feed-tags {
	font-size: 12px;
	margin-top: 15px;
}
.feed-tags a {
	color: #99abb4 !important;
	padding: 1px 5px;
	margin-bottom: 5px;
	display: inline-block;
}
.feed-preloader {
	height: 500px;
	text-align: center;
	padding-top: 14%;
}
.sidebar-preloader {
	text-align: center;
	margin-top: 40px;
}
.post-upload-media-wrap span{
}
.post-upload-media-wrap span i.mdi.mdi-check-all{
	color: rgba(0,0,0,.15);
	position: relative;
	top: 3px;
}

.f-s-20 {
	font-size: 20px;
}
.f-s-17 {
	font-size: 17px;
}
.f-s-15 {
	font-size: 15px;
}
.f-s-13 {
	font-size: 13px;
}
.post-media-file-upload-progress {
	font-size: 12px;
}

.post-media-file-upload-progress span.post-img-preloader img {
	width: 14px;
}
.pointer{
	cursor: pointer;
}
.w-100{
	width: 100%
}
.h-5{
	height: 5px;
}
.post-image-grid-wrap .card {
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

.post-image-grid-wrap .card .el-card-item{
	padding: 0px;
}
.post-image-grid-wrap .card .el-card-item .el-card-avatar{
	margin: 0px
}
.page-preloader{
	height: 500px;
	padding-top: 100px;
}

/*
* Profile picture on profile page
*/

.profile-pic-container {
  position: relative;
  width: 50%;
}

.profile-pic-container .profile-pic-image {
  display: block;
  width: 100%;
  height: auto;
}

.profile-pic-container .profile-pic-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.profile-pic-container:hover .profile-pic-overlay, .opacity-8 {
  opacity: .8 !important;
}

.profile-pic-overlay-content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-pic-overlay-content a {
	color: #fff;
}
.comment-widgets span.round{
	background: none
}
.profile-pic-overlay-content .operation-in-progress img {
	width: 15px;
}
.comment-footer .action-icons .comment-padding-0 {
	 padding: 0px 
}
.notification-block img {
	width: 45px
}
.notification-block {
	cursor: auto;
}
.min-h-400 {
	min-height: 400px;
}
.font-dark{
	color: #455a64
}
.notifications-page-main-wrap .message-center {
	height: auto !important
}
.grey-back{
	background: #f2f4f8
}
.add-topics-wrap a {
	font-size: 13px !important;
	text-align: center;
	color: #99abb4;
	padding: 0px !important;
	margin-right: 22px;
}
.add-topics-wrap.active a, .mini-sidebar .add-topics-wrap a {
	text-align: left !important;
	padding: 8px 35px 8px 15px !important;
	margin-right: 0px !important;
	font-size: 15px !important;
}
.mini-sidebar .add-topics-wrap a:hover {
	color: #fff !important
}
.active.add-topics-wrap a i, .mini-sidebar .add-topics-wrap a i {
	font-size: 19px !important
}
.add-topics-wrap i{
	height: auto !important;
	width: auto !important;
	vertical-align: bottom !important;
	font-size: 16px !important;
	display: inline !important
}
.add-topics-wrap a.active, .no-ative-anchor.active:hover, .no-ative-anchor.active:hover i {
	color: #26c6da !important
}
.no-ative-anchor.active, .no-ative-anchor.active i {
	color: #607d8b !important;
}
.mini-sidebar .no-ative-anchor.active:hover, .mini-sidebar .no-ative-anchor.active:hover i, li.active .no-ative-anchor.active, li.active .no-ative-anchor.active i {
	color: #fff !important;
}
.c-inherit {
	color: inherit;
}

.friend-block-up .friend-request-btn {
	display: inline;
}
.p-7{
	padding: 7px !important
}
.notifications {
	top: 20px !important;
}
.vue-notification.warn {
	background: #ffb22b !important;
	border-left-color: #de8d00 !important;
}
.vue-notification.success {
	background: #26c6da !important;
	border-left-color: #1e9faf !important;
}
.vue-notification.error {
	background: #fc4b6c !important;
	border-left-color: #f60431 !important;
}
.vue-notification .notification-content {
	font-weight: 500;
}
.content-center{
	justify-content: center !important;
}
.nav-search-field, .nav-search-field:focus {
	background-color: rgba(255, 255, 255, 0.26);
	border: none;
	color: #fff;
	font-size: 15px;
	background-image: url(images/search.png);
	background-position: 10px center;
	background-repeat: no-repeat;
	border-radius: 2px;
	padding-left: 40px;
	margin-top: 13px;
}

.nav-search-field::placeholder{
  color: #fff;
  opacity: 1;
  font-weight: 400;
}
.ad-crteation-wrap .h-27 {
	height: 27px;
}
.ad-crteation-wrap .w-150px {
	width: 150px;
}
.ad-crteation-wrap .w-100px {
	width: 100px;
}
.ad-crteation-wrap .max-w-180px{
	max-width: 180px
}
.no-border{
	border: none !important;
}
.ad-crteation-wrap input[type='number'] {
	width: 100% !important;
}

/*
* media queries for iPad
*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	.dashboard-feed-view .profiletimeline {
		margin-top: 32px;
	}
	.mini-sidebar .left-sidebar {
      overflow: hidden !important;
	}
	.mini-sidebar .left-sidebar .hide-menu {
		display: none !important;
	}
	/*.fix-sidebar .left-sidebar{
		position: absolute !important;
   }*/
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.col-md-2 .total-revenue-wrap h5, .col-md-2 .total-revenue-wrap h3, .col-md-2 .total-revenue-wrap h3 .f-s-12, .col-md-2 .total-revenue-wrap h5 .f-s-14 {
		font-size: 9px;
	}
	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.col-md-2 .total-revenue-wrap h5 {
		font-size: 13px;
	}
}

/* On screens that are 500px or less */
@media screen and (max-width: 500px) {
  .ad-crteation-wrap label, .ad-crteation-wrap table th, .ad-crteation-wrap small.form-control-feedback {
  	font-size: 9px;
  	font-weight: 400;
  }

  .dashboard-feed-view .profiletimeline {
  	margin-top: 40px;
  }

  .mobile-fs-13px{
	font-size: 13px;
  }
  .adstats-container table {
  	font-size: 10px;
  }
   .video-js .vjs-big-play-button {
  	left: /*21%*/ 34% !important;
  	top: /*12%*/ 30% !important;
  	width: 2em;
  }

  .comment-footer .comment-datetimestamp {
  	float: none;
  	font-size: 11px;
  	margin: 0;
  }

  .like-comm {
  	font-size: 10px;
  }

  .ribbon-wrapper, .ribbon-wrapper-reverse, .ribbon-wrapper-bottom, .ribbon-wrapper-right-bottom {
  	padding: 50px 0px 15px 9px
  }

  .feed-video-wrap .video-container{
	padding: 0px;
  }

  .feed-tags {
  	margin-top: 10px;
  }

  .feed-ads-options-wrap {
  	font-size: 12px;
  	padding: 0 0 0 15px !important;
  }

  .comment-widgets .comment-row {
  	padding: 0px;
  	border-left: 3px solid #1e88e5;
  }

  .comment-widgets, .comment-widgets textarea {
  	font-size: 12px;
  }

  .comment-response-container .response-head-title {
  	font-size: 12px;
  }

  .small-screen-text-left {
  	text-align: left !important;
  }

  .post-description-text-wrap, .post-description-text-wrap .sl-date {
  	font-size: 11px;
  }
  .post-ad-location-wrap label {
  	font-size: 10px !important;
  }
  .custom-status-update-wrap img, .answer-content-wrap img{
  	width: 100%;
  	max-width: none !important;
  }
  .page-title-collapse-control-wrap {
  	top: 69px !important;
  }
  .m-m-t-10 {
  	margin-top: 10px;
  }
  
}

/*
* nullifying all the rules for ti-focus class
** to avoid conflictc with Themify Iconss CSS rules
*/
.vue-tags-input.ti-focus {
    font-family: inherit;
}

/**
** prevent video player's control bar from 
** overlapping Bootstrap's popups
**/
.__cov-video-container .__cov-contrl-content {
    z-index: 1 !important;
}

.topmost-modal {
	z-index: 1099;
}

#cf-widget-wrap .cf-inner-div, #cf-widget-wrap .cf-inner-div iframe {
	width: 100% !important
}

.feed-preview-wrap hr {
	display: none;
}

.popover {
	z-index: 1200;
}
.w-300px {
	width: 300px;
}
.w-265px {
	width: 265px;
}
.all-caps {
	text-transform: uppercase;
}
.video-js .vjs-big-play-button {
    left: 40%;
    top: 40%;
    background-color: rgba(30,136,229, 0.7)
    /*width: 20%;
    height: 20%;*/
}

.video-js:hover .vjs-big-play-button
/*,.video-js:hover .vjs-control-bar
,.video-js:hover .vjs-menu-button .vjs-menu-content */
{
  background-color: rgba(30,136,229, .5)
  /*background-color: rgba($secondary-background-color, 0.7);*/
}
/*
.video-js .vjs-play-control:before {
    top:20% !important;
    content: '\f101';
    font-size: 48px;
}*/

.noti-dropdown-wrap.message-center .mail-contnet .mail-desc{
	white-space: initial !important;
	text-overflow: initial !important;
}
.w-auto{
	width: auto !important;
}
.w-77 {
	width: 77% !important;
}

.no-border-shadow {
	border: none;
	box-shadow: none;
}
.upload-video-comment-wrap {
	color: #495057;
	opacity: .7;
}

.comment-response-container .round {
	background: none;
}

.comment-response-container .dropdown-item.active {
	color: #fff !important;
}

.custom-comment-row .user-name-wrap {
	position: relative;
	/*left: -20px;*/
}

.m-l-25 {
	margin-left: 25px;
}

.m-l-0 {
	margin-left: 0px !important;
}

.m-r-0 {
	margin-right: 0px !important;
}

.pwo-selected-option-wrap form .form-group {
	margin-bottom: 1rem;
}

.m-t--10 {
	margin-top: -10px;
}
.modal-backdrop {
	opacity: .5;
}
img.preloader-h-20 {
	height: 20px;
}
img.preloader-h-15 {
	height: 15px;
}
img.preloader-h-10 {
	height: 10px;
}
.m-l-2 {
	margin-left: 2px;
}
.m-r-2 {
	margin-right: 2px;
}
.m-l-6 {
	margin-left: 6px;
}
.comment-text p {
	max-height: none;
}
.scroll-up {
  position: fixed;
  display: none;
  bottom: 7px;
  right: 7px;
  z-index: 999;
}
.scroll-up a {
    background: #ccc;
    display: block;
    height: 28px;
    width: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    color: #000;
    opacity: 0.6;
    border-radius: 2px;
}
.ql-editor {
	min-height: 100px;
}
.logo-side-margin {
	margin-left: 32px;
}
.mini-sidebar .logo-side-margin {
	margin-left: 12px;
}
.navbar-header {
	height: 100%;
}
.p-r-t--12 {
	position: relative;
	top: -12px;
}
.custom-status-update-wrap img, .answer-content-wrap img{
	max-width: 50%;
	cursor: pointer;
}

.post-recent-activity-icon {
	position: relative;
	top: -2px;
}
.img-zoom-enable {
	cursor: pointer;
}
.topbar ul.dropdown-user.custom-user-dropdown li .dw-user-box {
	padding: 10px 10px;
}
.ql-indent-1 {
	margin-left: 20px;
}
.ql-indent-2 {
	margin-left: 40px;
}
strong{
	font-weight: bold;
}
.ql-align-center {
	text-align: center;
}
.ql-align-right{
	text-align: right;
}
.ql-snow .ql-toolbar button svg, .quillWrapper .ql-snow.ql-toolbar button svg {
	height: 16px !important;
}
.quillWrapper .ql-snow.ql-toolbar {
	background: #F8F8F8;
}
.quillWrapper.custom-text-editor-status-update .ql-link{
	/* display: none !important; */
}
.f-s-11{
	font-size: 11px;
}
.m-b-1rem{
	margin-bottom: 1rem;
}
.w-s-pre {
	white-space: pre-line;
}
.p-r-t--1 {
	position: relative;
	top: -1px;
}
.p-r-t--2 {
	position: relative;
	top: -2px;
}
.p-r-t-1 {
	position: relative;
	top: 1px;
}
.postAdOptions {
	margin: 0px auto;
	width: 95%;
}
.ad-crteation-wrap {
	display: inline-block;
	background: #F0F0F0;
}
.post-ad-location-wrap label{
	font-size: 12px;
}
.google-map-area-select, .google-map-update-location {
	height: 300px;
}
.mfp-bg {
	z-index: 2000;
}
.mfp-wrap {
	z-index: 2001;
}
#side-bar-map-wrap {
	height: 160px;
}
.user-profile.custom .profile-text{
  bottom: -4px;
  width: 100%;
  position: absolute;
}
.user-profile.custom .profile-text > a {
	    background: #e2e2e2;
    color: #000 !important;
}
.truncate-text {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mini-sidebar #side-bar-map-wrap {
	display: none;
}
.mini-sidebar.mobile-device #side-bar-map-wrap {
	display: block;
}
.user-profile.custom .profile-img {
	display: none;
}
.mini-sidebar .user-profile.custom .profile-img{
	display: block;
}
.mini-sidebar.mobile-device .user-profile.custom .profile-img{
	display: none;
}
.sidebar-map-icon {
	font-size: 31px;
    position: relative;
    left: 9px;
    top: 3px;
}
.mini-sidebar .user-profile.custom {
  background: url('../../images/map-back.png') no-repeat;
}
.mini-sidebar.mobile-device .user-profile.custom {
  background: none;
}

.mini-sidebar .user-profile.custom .sidebar-map-header-wrap {
	display: none;
}
.mini-sidebar.mobile-device .user-profile.custom .sidebar-map-header-wrap {
	display: block;
}
.sidebar-map-header-wrap {
	text-align: center;
    position: relative;
    color: #fff;
    font-size: 12px;
    background: rgba(0,0,0,.4);
    padding: 5px 0px;
    top: 1px;
}
.d-inherit {
	display: inherit;
}
.user-profile.custom .profile-text > a .menu-icon {
	position: absolute;
    right: 3px;
    top: 2px;
    font-size: 24px;
}
.light-text-8 {
	color: #888;
}
.popup-map-h {
	height: 300px;
}
.side-bar-user-location-preloader img{
	position: absolute;
	top: 42%;
	left: 42%;
}
.h-100 {
	height: 100%;
}
.p-l-0 {
	padding-left: 0px !important;
}
.question-on-user-feed .custom-comment-row:first-child {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.question-on-user-feed .enable-commenting-wrap, .question-on-user-feed.question-has-answers .leave-comment-wrap {
	display: none;
}
.question-on-user-feed.user-feed-allow-commenting {
	display: block;
}
.question-on-user-feed .show-all-comments-wrap {
	padding: 0px !important;
}
/*.mini-sidebar .left-sidebar {
	position: absolute !important;
}*/
.fix-sidebar.mobile-device .left-sidebar {
	/*position: absolute !important;*/
}
.fix-sidebar .left-sidebar{
	position: fixed ;
}
.card-body, .bg-special-1 {
	background: url('../../images/snow.png')
}
.bg-special-2 {
	background: url('../../images/dust_scratches.png') !important;
}
.bg-none{
	background: none;
}
.sidebar-nav > ul > li > a.active {
	background: none;
}
.mobile-device .m-m-t-7 {
	margin-top: 7px;
}
.p-b-0 {
	padding-bottom: 0px !important;
}
.withdraw-messages-wrap img {
	height: 120px;
}
.white-default-pic-thumb {
	width: 17px !important;
	position: relative;
	top: -2px;
}
.page-title-collapse-control-wrap {
	position: absolute;
	top: 66px;
	right: 12px;
	font-size: 30px;
	cursor: pointer;
}
.page-titles.collapsed.collapsed .page-title-collapse-control-wrap {
	top: 54px;
}
.page-titles.collapsed .feed-ads-options-wrap, .page-titles.collapsed  .total-revenue-wrap, .page-titles.collapsed .breadcrumb {
	display: none;
}
.m-r-50 {
	margin-right: 50px;
}
.body-text-color {
	color: #67757c;
}
.verify-account-popup .upload-progress img{
  width: 15px;
}
.custom-status-update-wrap strong /*, .profiletimeline .feed-block .sl-right .font-bold*/{
	font-weight: 500 !important;
}
.custom-status-update-wrap p {
	line-height: 23px !important;
}