.profile-pic{
	width: 40px;
	border-radius: 100%;
}

.card-main-pic img{

	width: auto;
	height: 200px;
}

.left-sidebar{
	padding-top: 49px;
}

.navbar.top-navbar {

	height: 50px !important;
	min-height: auto;
}

.slimScrollDiv{
	top: -21px;
}

.page-titles{
	padding-bottom: 8px;
	padding-top: 8px;
	margin-bottom: 10px;
}

.feed-container-col{

	padding: 0px;
}

.f-w-400{
	font-weight: 400;
}

.m-l-2{
	margin-left: 2px;
}

.m-l-4{
	margin-left: 4px;
}

.light{
	color: #ccc
}

.cursor-hand{
	cursor: pointer;
}

.pr-t--2{
	position: relative;
	top: -2px;
}
.pr-t-2{
	position: relative;
	top: 2px;
}

.f-s-12{
	font-size: 12px;
}

.bg-999{
	background: #999;
}

.white-back{
	background-color: #fff;
}
.feed-video-wrap .container{
	padding: 0px;
}
.feed-video-wrap .video-container{
	padding: 0px;
	padding-bottom: 20px;
}

.none{
	display: none;
}
.profiletimeline .ribbon-wrapper{
	padding-bottom: 0px;
}
.pr-t--3-l--3{
	position: relative;
	top: -3px;
	left: -3px;
}

.btn-add-feed{
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 1;
}
/*
** Altering Bootstrap Modal
*/
body { 
	padding-right: 0 !important 
}

.modal {
   position: absolute !important;
   overflow: auto;
   overflow-y: auto;
}

/*
** Bootstrap Modal ends
*/
.block {
	display: block !important;
}
.visible {
	visibility: visible !important;
}

/** Tags Input **/
.tags .tag, .autocomplete li:hover {
	background-color: #868e96 !important;
	color: #fff
}
.vue-tags-input {
	max-width: 100% !important;
}
.vue-tags-input .input {
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.15) !important;
}
/** Tags Input Ends **/ 

.feed-tags {
	font-size: 12px;
}
.feed-tags a {
	color: #99abb4 !important;
	padding: 1px 5px;
}
.feed-preloader {
	height: 500px;
	text-align: center;
	padding-top: 14%;
}
.sidebar-preloader {
	text-align: center;
	margin-top: 40px;
}