.m-t-100 {
	margin-top: 100px;
}
.public-content-wrap p {
	margin: 0 0 10px !important;
}
/******Custom media css starts here******/
@media screen and (max-width: 767px){
	.video-js .vjs-big-play-button{
        width: 2em
    }
    .pc-user-info-container img {
    	width: 100px !important;
    }
    .pc-user-info-container {
		background: #eee;
		padding: 10px;
	}
  .hpv-contanier .body-wrap video {
    width: 100% !important;
  }
  .hpv-contanier .footer-wrap {
    bottom: 5px !important; 
  }
  .hpv-contanier .header-wrap {
    margin-top: 60px;
  }
}


/* On screens that are 500px or less */
@media screen and (max-width: 500px) {

}

/* On screens that are 500px or less */
@media screen and (max-width: 500px) {
	.video-js .vjs-big-play-button {
  	left: /*21%*/ 34% !important;
  	top: /*12%*/ 30% !important;
  	width: 2em;
  }
}
.video-js .vjs-big-play-button {
    left: 40%;
    top: 40%;
    background-color: rgba(30,136,229, 0.7)
    /*width: 20%;
    height: 20%;*/
}
.video-js:hover .vjs-big-play-button
/*,.video-js:hover .vjs-control-bar
,.video-js:hover .vjs-menu-button .vjs-menu-content */
{
  background-color: rgba(30,136,229, .5)
  /*background-color: rgba($secondary-background-color, 0.7);*/
}
.m-t-0 {
	margin-top: 0px !important;
}
.m-b-15 {
	margin-bottom: 15px;
}
.pc-user-info-container img {
	border-radius: 50%;
	width: 150px;
}
.w-s-pre {
	white-space: pre-line;
}
.m-b-40 {
  margin-bottom: 40px;
}
.public-content-wrap {
  min-height: 670px;
}
.home-page-full-video {
  object-fit: cover;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
}
.full-height {
  height: 100vh;
}
.hpv-contanier .header-wrap, .hpv-contanier .hp-site-intro-wrap{
  /*margin-top: 100px;*/
}
.hpv-contanier .hp-site-intro-wrap {
  display: table-cell;
  vertical-align: middle;
}
.d-table {
  display: table;
}
.all-caps {
  text-transform: uppercase;
}
.hpv-contanier video {
  /*width: 100%;*/
}
.w-15px {
  width: 15px;
}
.hpv-contanier .body-wrap {
  position: relative;
}
.hpv-contanier .body-wrap .video-overlay{
  position: absolute;
  top: 0px;
  opacity: .5;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.hpv-contanier .body-wrap .btns-wrap.btn-center {
    position: absolute;
    top: 30%;
    transform: translate(0%, -50%);
    left: 0px;
    right: 0px;
}
.w-100 {
  width: 100%;
}
.hpv-contanier {
  width: 100vw;
}
.hpv-contanier .footer-wrap {
  /*position: absolute;
  bottom: 0px;
  background-color: #eee;
  padding: 10px 0px;
  width: 100%;*/
  /*position: relative;
  top: 80px;*/
  /*position: absolute;
  bottom: 20px;*/
  position: relative;
  top: 60px;
  width: 100%;
}
.top-bar-sticker-nav {
  background-color: #eee;
  padding: 10px 0px;
  width: 100%;
  position: absolute;
  top: 50px;
  text-align: center;
}
.fade-out {
  position: relative;
  animation: fadeOut 2s linear;
}

@keyframes fadeOut {
  0%{
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -100px;
    opacity: .0;
    display: none;
  }
}
.hpv-contanier .body-wrap video {
  width: 50%;
}
.hpv-contanier .video-container-section {
  display: table-cell;
  vertical-align: middle;
}
.faded-color {
  color: #999;
}
.w-100-px {
  width: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
.pointer {
  cursor: pointer;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-5 {
  margin-right: 5px;
}
.dark-color {
  color: #000;
}
.video-container-section .mute-unmute-wrap img{
  width: 22px;
  position: relative;
  top: -2px;
}